[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tika = ">=1.24"

[dev-packages]
bpython = "*"
"flake8" = "*"
yapf = "*"
isort = "*"
coverage = "*"
mypy = "*"

[requires]
python_version = "3.9"
